<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator Using HTML CSS And JavaScript</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <p>Enter</p>
    <input type="text" placeholder="text or url" id="Qrtext">
    <div id="imgbox">
        <img src="" id="qrImage">
    </div>
    <button onclick="generatorQR()">Generate</button>
</div>

<script>
    let imgbox = document.getElementById("imgbox");
    let qrImage = document.getElementById("qrImage");
    let Qrtext = document.getElementById("Qrtext");

    function generatorQR() {
        const qrTextValue = Qrtext.value.trim();
        if (qrTextValue) {
            qrImage.src = "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=" + encodeURIComponent(qrTextValue);
            Qrtext.style.display = "none"; // Hide the text input
        } else {
            alert("Please enter text or URL to generate QR code.");
        }
    }
</script>

</body>
</html>