/* Container styling */
.resident-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #a0c4ff, #bdb2ff);
  /* padding-top: 7px; Adjust based on the height of the navbar */
  box-sizing: border-box;
}

/* Title styling */
h1 {
  font-size: 36px;
  color: #343a40;
  margin-bottom: 40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


/* Button styling */
button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
